* {
  font-family: sans-serif;
}
.text {
  font-family: sans-serif;
  font-weight: bold;
}

.general {
  width: 100%;
  height: 100%;
  margin: auto;
}

.logoImg {
  display: flex;
  height: 110px;
  width: 40%;
}
.logoImg img {
  height: 150px;
  margin-left: 50px;
}

.logoImg span {
  margin-top: 9%;
  margin-right: 35px;
}

.generalBox {
  width: 91%;
  height: 100%;
  display: flex;
  margin: 0 85px;
}
.box1 {
  width: 50%;
}
.box2 {
  width: 50%;
}
.operators {
  width: 90%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  border-radius: 7px;
  background-color: #f4f4f4;
}

h2 {
  color: #361766;
  font-size: 18px;
}
.operatorsPrecent {
  color: #ff5c39;
  margin-bottom: 15px;
  margin-right: 10px;
}
.utilityPrecent {
  color: #ff5c39;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-top: 15px;
}
.bankPrecent {
  margin-right: 10px;
}
.bankPrecent p {
  color: #ff5c39;
  border-bottom: 1px solid #dcdbdb;
}

.company {
  margin-top: 10px;
}

.company p {
  font-weight: normal;
  font-size: 20px;
}
.zero {
  font-size: 60px;
  font-weight: normal;
}
.percent {
  font-size: 25px;
  font-weight: normal;
}

.x {
  font-size: 12px;
}
.operatorsBank {
  width: 88%;
  padding: 10px 15px 25px 15px;
  font-weight: normal;
  border-radius: 7px;
  background-color: #f4f4f4;
}
.banksBox {
  display: flex;
  border-bottom: 1px solid #dbdada;
  justify-content: space-between;
}

.banksBox p {
  font-size: 12px;
}
#unistream {
  line-height: 50px;
}
