.Main {
  animation: fadeIn 0.8s ease-in-out;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.98);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
